.dart_tool/
.packages
.pub/
build/
.idea/
.vscode/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.melos_workspace.yaml
.melos_tool_version
*.log
*.tmp
*.swp
*.lock
*.DS_Store
